.footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-top: 2px solid black;

    button{
        margin-top: 0.625rem;
        background: none;
        border: none;
        font-size: 1.6rem;
    }

}