.hero {
  max-width: 1000px;
  display: flex;
  flex-direction: column; 
  margin: 0 auto;
  align-items: center;
  background-image: url(../assets/istockphoto-969660694-1024x1024.jpg);
  background-position: center;

h1, p {
  color: white;
}
button{
  background: #6e6e6e;
  border-radius: 0.5rem;
  color: white;
}
}
